<table class="table table-bordered">
  <tr>
    <th style="width: 50%">1.	U poslednjih 7 dana, koliko dana ste upražnjavali napornu fizičku aktivnost kao što je podiznje tereta , kopanje, aerobic ili brza vožnja bicikla ?</th>
    <th><input [(ngModel)]="ipaqForm.heavyActivityDays" type="number" class="form-control" min=0 max=7>dana u toku nedelje</th>
    <th>
      <div class="form-check">
        <input [(ngModel)]="ipaqForm.heavyActivityNoInfo" type="checkbox" class="form-check-input" id="check1">
        <label class="form-check-label" for="check1">Ne znam/nisam siguran</label>
      </div>
    </th>
  </tr>
  <tr>
    <th>2.	Koliko vremena  dnevno ste provedili u toj aktivnosti?</th>
    <th>
      <input [(ngModel)]="ipaqForm.heavyActivityDailyHours" type="number" class="form-control">časova dnevno<br>
      <input [(ngModel)]="ipaqForm.heavyActivityDailyMinutes" type="number" class="form-control">minuta dnevno<br>
    </th>
    <th>
      <div class="form-check">
        <input [(ngModel)]="ipaqForm.heavyActivityDailyNoInfo" type="checkbox" class="form-check-input" id="check2">
        <label class="form-check-label" for="check2">Ne znam/nisam siguran</label>
      </div>
    </th>
  </tr>
  <tr>
    <th>3.	U poslednjih 7 dana, koliko dana ste imali umerenu fizičku aktivnost kao što je nošenje manjeg tereta, vožnje bicikla u normalnom ritm,tenis u dublu. Ne računajte šetnju.</th>
    <th><input [(ngModel)]="ipaqForm.moderateActivityDays" type="number" class="form-control" min=0 max=7>dana u nedelji</th>
    <th>
      <div class="form-check">
        <input [(ngModel)]="ipaqForm.moderateAcitivityNoInfo" type="checkbox" class="form-check-input" id="check3">
        <label class="form-check-label" for="check3">Ne znam/nisam siguran</label>
      </div>
    </th>
  </tr>
  <tr>
    <th>4.	Koliko vremena dnevno ste provodili u toj umerenoj fizičkoj aktivnosti?</th>
    <th>
      <input [(ngModel)]="ipaqForm.moderateActivityDailyHours" type="number" class="form-control">časova dnevno <br>
      <input [(ngModel)]="ipaqForm.moderateActivityDailyMinutes" type="number" class="form-control">minuta dnevno<br>
    </th>
    <th>
      <div class="form-check">
        <input [(ngModel)]="ipaqForm.moderateActivityDailyNoInfo" type="checkbox" class="form-check-input" id="check4">
        <label class="form-check-label" for="check4">Ne znam/nisam siguran</label>
      </div>
    </th>
  </tr>
  <tr>
    <th>5.	U poslednjih 7 dana, koliko dana ste išli u šetnju dužu od 10 minuta?</th>
    <th><input [(ngModel)]="ipaqForm.walkingDays" type="number" class="form-control" min=0 max=7>dana u nedelji</th>
    <th>
      <div class="form-check">
        <input [(ngModel)]="ipaqForm.walkingNoInfo" type="checkbox" class="form-check-input" id="check5">
        <label class="form-check-label" for="check5">Ne znam/nisam siguran</label>
      </div>
    </th>
  </tr>
  <tr>
    <th>6.	Koliko vremena ste prosečno provodili dnevno u šetnji/ hodu?</th>
    <th>
      <input [(ngModel)]="ipaqForm.walkingDailyHours" type="number" class="form-control">časova dnevno <br>
      <input [(ngModel)]="ipaqForm.walkingDailyMinutes" type="number" class="form-control">minuta dnevno<br>
    </th>
    <th>
      <div class="form-check">
        <input [(ngModel)]="ipaqForm.walkingDailyNoInfo" type="checkbox" class="form-check-input" id="check6">
        <label class="form-check-label" for="check6">Ne znam/nisam siguran</label>
      </div>
    </th>
  </tr>
  <tr>
    <th>7.	U poslednjih 7 dana, koliko vremena dnevno ste u toku radne nedelje proveli sedeći ?</th>
    <th>
      <input [(ngModel)]="ipaqForm.sittingDailyHours" type="number" class="form-control">časova dnevno <br>
      <input [(ngModel)]="ipaqForm.sittingDailyMinutes" type="number" class="form-control">minuta dnevno<br>
    </th>
    <th>
      <div class="form-check">
        <input [(ngModel)]="ipaqForm.sittingDailyNoInfo" type="checkbox" class="form-check-input" id="check7">
        <label class="form-check-label" for="check7">Ne znam/nisam siguran</label>
      </div>
    </th>
  </tr>
</table>

<button class="btn btn-primary" (click)="save()" >Sačuvaj</button>