<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
</div>
<!-- TODO this is to be removed, here for testing purposes-->
<button (click)="gotoNewPatient()">Create a new patient</button>
<button (click)="gotoSarcF()">Fill out SARC-F</button>
<button (click)="gotoEqD5()">Fill out EQ-D5</button>
<button (click)="gotoGdsSrb()">Fill out Gds-Srb</button>
<button (click)="gotoSF36()">Fill out SF-36</button>
<button (click)="gotoMmse()">Fill out mmse</button>
<button (click)="gotoIpaq()">Fill out ipaq</button>
<button (click)="gotoSarQol()">Fill out SarQol</button>
