<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Pacijenti</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Broj</th>
            <th>Ime i prezime</th>
            <th>Jmbg</th>
            <th>Kompletiran</th>
            <th>Pregled anketa</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Broj</th>
            <th>Ime i prezime</th>
            <th>Jmbg</th>
            <th>Kompletiran</th>
            <th>Pregled anketa</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor = "let p of patients">
            <th>{{p.basicPatient.number}}</th>
            <th>{{p.basicPatient.nameSurname}}</th>
            <th>{{p.basicPatient.jmbg}}</th>
            <th>
              <p *ngIf="isComplete(p) == true">Kompletiran</p>
              <p *ngIf="isComplete(p) == false">Nekompletiran</p>
            </th>
            <th><button class="btn btn-primary" routerLink='/patient-view/{{p.id}}'>Pregled pacijenta</button></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>